@font-face {
    font-family: "si";
    src: url('//at.alicdn.com/t/font_1539584_ghbahzc47vr.eot?t=1575205592352');
    src: url('//at.alicdn.com/t/font_1539584_ghbahzc47vr.eot?t=1575205592352#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1539584_ghbahzc47vr.woff?t=1575205592352') format('woff'),
        url('//at.alicdn.com/t/font_1539584_ghbahzc47vr.ttf?t=1575205592352') format('truetype'),
        url('//at.alicdn.com/t/font_1539584_ghbahzc47vr.svg?t=1575205592352#si') format('svg');
}

.si {
    font-family: "si" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.si-twitter:before {
    content: "\e600";
}

.si-wechat:before {
    content: "\e601";
}

.si-weibo:before {
    content: "\e602";
}

.si-qzone:before {
    content: "\e603";
}

.si-wechat-friend:before {
    content: "\e604";
}

.si-qq:before {
    content: "\e605";
}

.si-github:before {
    content: "\e606";
}

.si-csdn:before {
    content: "\e607";
}

.si-ins:before {
    content: "\e608";
}

.si-renren:before {
    content: "\e609";
}

.si-momo:before {
    content: "\e60a";
}

.si-facebook:before {
    content: "\e60b";
}

.si-alipay:before {
    content: "\e60c";
}

.si-xiaoenai:before {
    content: "\e60d";
}

.si-pinterest:before {
    content: "\e60e";
}

.si-linkedin:before {
    content: "\e60f";
}

.si-google:before {
    content: "\e610";
}

.si-tumblr:before {
    content: "\e611";
}

.si-vk:before {
    content: "\e612";
}

.si-mixi:before {
    content: "\e613";
}

.si-skype:before {
    content: "\e614";
}

.si-pixiv:before {
    content: "\e615";
}

.si-kakaotalk:before {
    content: "\e616";
}

.si-line:before {
    content: "\e617";
}
